{
  "sdk_version": "sprint31",
  "executable": "Main.loom",
  "display": {
    "width": 640,
    "height": 1136,
    "title": "TowerOfTheDead",
    "stats": true,
    "orientation": "portrait"
  },
  "app_id": "com.screamingbarbarian.TowerOfTheDead",
  "app_name": "Tower of the Dead",
  "app_version": "1.0.0",
  "mobile_provision": "Zac_Paladino_Development.mobileprovision"
}
